@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .topbar-icon {
        @apply relative flex items-center justify-center h-12 w-12
               mt-2 mb-2 ml-3 shadow bg-gray-700 text-gray-100
               hover:bg-gray-600 rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear;
    }

    .topbar-tooltip {
        @apply absolute w-auto p-2 mt-2 min-w-max top-14 rounded-md shadow-md text-white
             bg-gray-800 transition-all duration-100 origin-right scale-0;

    }

    .inset-center {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}